Package: com.fiore.calculatorhistory
Name: CalculatorHistory
Version: 1.1.1
Architecture: iphoneos-arm
Description: Calculator gains history!
Maintainer: fiore
Author: fiore
Section: Tweaks
Depends: mobilesubstrate